<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Это стиль FlashDog<br />
    чек чек чек чек<br />
    чек зе саунд</h2>
    <ul class="actions">
      <li><a href="#" class="button big special">Купить епта</a></li>
    </ul>
    <p class="footnote">Sed amet magna? <a href="#">Feugiat lorem</a></p>
  </div>
  <a href="#one" class="more scrolly">Learn more ...</a>
</section>

<!-- Main -->
<div id="main" class="container">

  <!-- One -->
    <section id="one" class="feature major">
      <span class="icon alt major fa-paw"></span>
      <h2>Adipiscing lacus accumsan odio massa.</h2>
      <p>Arcu porttitor ut massa adipiscing nascetur varius lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor turpis orci arcu et orci. Lobortis non commodo ante lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor turpis orci. Arcu porttitor massa.</p>
    </section>

  <!-- Two -->
    <section id="two" class="feature">
      <div class="row">
        <div class="4u 12u$(2)">
          <h2>Sed amet integer<br />
          interdum consequat.</h2>
          <p>Arcu porttitor ut massa adipiscing nascetur varius lorem ipsum ante ac vestibulum lacinia ante sed praesent. Iaculis porttitor turpis orci arcu et orci. Lobortis non commodo ante lorem ipsum porttitor turpis orci. Arcu porttitor massa sed lobortis non commodo ante lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor.</p>
          <ul class="actions">
            <li><a href="#" class="button">Ipsum consequat</a></li>
          </ul>
        </div>
        <div class="8u$ 12u$(2)">
          <ul class="major-icons row">
            <li class="4u 6u(3) 12u$(4)">
              <span class="icon alt major fa-camera"></span>
              <p>Praesent sed adipiscing</p>
            </li>
            <li class="4u 6u$(3) 12u$(4)">
              <span class="icon alt major fa-clock-o"></span>
              <p>Amet accumsan gravida</p>
            </li>
            <li class="4u$ 6u(3) 12u$(4)">
              <span class="icon alt major fa-cloud"></span>
              <p>Risus aliquet feugiat</p>
            </li>
            <li class="4u 6u$(3) 12u$(4)">
              <span class="icon alt major fa-code"></span>
              <p>Accumsan rhoncus</p>
            </li>
            <li class="4u 6u(3) 12u$(4)">
              <span class="icon alt major fa-database"></span>
              <p>Vitae primis placerat</p>
            </li>
            <li class="4u$ 6u$(3) 12u$(4)">
              <span class="icon alt major fa-bolt"></span>
              <p>Integer nisl faucibus</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
  <!-- Three -->
    <section id="three" class="feature">
      <div class="row">
        <div class="8u 12u$(2)">
          <div class="box alt">
            <div class="row uniform 50%">
              <div class="6u 12u$(4)">
                <a href="#" class="image fit">
                  <h3 class="caption">Praesent sed adipiscing</h3>
                  <%=image_tag("pic01.jpg")%>
                </a>
              </div>
              <div class="6u$ 12u$(4)">
                <a href="#" class="image fit">
                  <h3 class="caption">Amet accumsan gravida</h3>
                  <%=image_tag("pic02.jpg")%>
                </a>
              </div>
              <div class="6u 12u$(4)">
                <a href="#" class="image fit">
                  <h3 class="caption">Risus aliquet feugiat</h3>
                  <%=image_tag("pic03.jpg")%>
                </a>
              </div>
              <div class="6u$ 12u$(4)">
                <a href="#" class="image fit">
                  <h3 class="caption">Accumsan rhoncus</h3>
                  <%=image_tag("pic04.jpg")%>
                </a>
              </div>
              <div class="6u 12u$(4)">
                <a href="#" class="image fit">
                  <h3 class="caption">Vitae primis placerat</h3>
                  <%=image_tag("pic05.jpg")%>
                </a>
              </div>
              <div class="6u$ 12u$(4)">
                <a href="#" class="image fit">
                  <h3 class="caption">Integer nisl faucibus</h3>
                  <%=image_tag("pic06.jpg")%>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="4u$ 12u$(2) important(2)">
          <h2>Cubilia et lorem<br />
          feugiat consequat.</h2>
          <p>Arcu porttitor ut massa adipiscing nascetur varius lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor turpis orci arcu et orci. Lobortis non commodo ante lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor turpis orci. Arcu porttitor massa.</p>
          <p>Arcu porttitor ut massa adipiscing nascetur varius lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor turpis orci arcu et orci. Lobortis non commodo ante lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor turpis orci. Arcu porttitor massa. Arcu porttitor ut massa adipiscing nascetur varius lorem ipsum ante ac vestibulum lacinia ante praesent. Iaculis porttitor turpis orci arcu et orci. Lobortis non commodo ante lorem.</p>
          <ul class="actions">
            <li><a href="#" class="button">Ipsum consequat</a></li>
          </ul>
        </div>
      </div>
    </section>

  <!-- Four -->
    <section id="four" class="feature major">
      <h2>Ipsum commodo blandit.</h2>
      <p>Arcu porttitor ut massa adipiscing nascetur varius lorem ipsum ante ac vestibulum lacinia.</p>
      <ul class="actions">
        <li><a href="#" class="button big special">Ante ornare adipiscing</a></li>
      </ul>
    </section>

</div>